/*generales*/

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;

}
:root{
    --white: #ffffffff;
    --roman-silver: #888c9aff;
    --charcoal: #333847ff;
    --oxford-blue: #101935ff;
    --persian-rose: #ff36abff;
    --flirt: #a11767ff;
    --lemon: #fffb1fff;
    --titanium-yellow: #e0dd00ff;
    --cerulean-crayola: #00a7e1ff;
    --cerulean-crayola: rgb(0, 92, 122);
}
